.imgSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  padding-right: 30px;
  padding-left: 30px;

  @media (max-width: 768px) {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

.info {
  font-size: 12px;
  text-align: center;
  color: #1f306e;
  font-style: italic;

  @media (max-width: 768px) {
    order: 3;
  }
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 10px;

  @media (max-width: 768px) {
    order: 2;
  }
}

.link {
  opacity: 0.6;
  transition-duration: 0.3s;
  transition-property: opacity;
  cursor: pointer;
}

.linkActive {
  opacity: 1;
}

.link:hover {
  opacity: 1;
}

.linkImg {
  width: 35px;
  height: 35px;
  background-color: #e4e2ea;
}

.imageWrapper {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-height: 250px;

  @media (max-width: 768px) {
    order: 1;
    width: 100%;
    min-height: 150px;
  }
}

.imageWrapper img {
  position: relative !important;
  width: 100%;

  @media (max-width: 768px) {
    width: inherit;
  }
}

.copyrigth {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px 4px;
  font-size: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  font-style: italic;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}
