.imgSection {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
}

.copyrigth,
.wrapper p {
  font-size: 12px;
}

.copyrigth {
  align-self: flex-start;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.wrapper p {
  margin-top: 5px;
}

.next,
.imgproxy {
  max-width: 47%;
  padding-bottom: 35px;
}

.next img {
  position: relative !important;
}
