.wrapper {
  display: flex;
  margin-top: 20px;

  @media (max-width: 650px) {
    flex-direction: column;
    margin-top: 0;
  }
}

.title {
  margin-top: 15px;
  color: #c7417b;
}

.title + p {
  margin-top: 6px;
}

.textWrapper {
  @media (max-width: 650px) {
    margin-top: 20px;
  }
}

.intro + .intro {
  margin-top: 15px;
}

.link {
  text-decoration: none;
  color: #c7417b;
  transition-duration: 0.3s;
  transition-property: color;
}

.link:hover {
  color: #8f3b76;

  @media (max-width: 768px) {
    color: #c7417b;
  }
}
