.wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 105px 35px 20px;
  background-color: #ffffff;

  @media (max-width: 768px) {
    width: 100%;
    padding: 20px 0;
    background-color: #f2f1f5;
  }
}

.wrapperTitle {
  position: absolute;
  top: 1.5em;
  left: max(calc((100vw - 1440px) / 2), 20px);
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: calc(100vw - 40px);

  @media (max-width: 650px) {
    position: static;
    flex-direction: column;
  }
}

.mainTitle {
  margin-bottom: 12px;
  color: #f5487f;
}

.source {
  height: fit-content;
  font-size: 12px;
  text-decoration: none;
  color: #1f306e;
  opacity: 0.6;
  transition-duration: 0.3s;
  transition-property: opacity;
}

.source:hover {
  opacity: 1;

  @media (max-width: 768px) {
    opacity: 0.6;
  }
}

.title {
  color: #c7417b;

  @media (max-width: 650px) {
    margin-top: 15px;
  }
}

.title + p {
  margin-top: 6px;
}

p + .title {
  margin-top: 30px;

  @media (max-width: 650px) {
    margin-top: 15px;
  }
}

.intro + .intro {
  margin-top: 15px;
}

.resource {
  margin-top: 40px;
  font-size: 12px;
  font-style: italic;

  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.link {
  text-decoration: none;
  color: #c7417b;
  transition-duration: 0.3s;
  transition-property: color;
}

.link:hover {
  color: #8f3b76;

  @media (max-width: 768px) {
    color: #c7417b;
  }
}
