.wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 6px 20px 6px 6px;
  font-family: monospace;
  font-size: 16px;
  background-color: #dfe4eb;
  border-radius: 2px;
}

@media (max-width: 1199px) {
  .wrapper {
    width: 100%;
    background-color: rgba(223, 228, 235, 0.7);
    backdrop-filter: blur(5px);
  }
}
