* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #1f306e;
}

pre {
  margin: 0;
  font-size: 14px;
  color: #1f306e;
  background-color: #dfe4eb;
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  color: #553772;
}

h2 {
  font-size: 20px;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
