.main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  background: linear-gradient(
    90deg,
    rgb(242, 241, 245) 0 70%,
    rgb(255, 255, 255) 70% 100%
  );
}

.content {
  display: flex;
  max-width: 1440px;
}
