.main {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  margin: 55px 20px 20px;
}

.title {
  margin-bottom: 12px;
}

.menu {
  flex-shrink: 0;
  margin-top: 38px;
  margin-right: 45px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.list li:not(:first-child) {
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: #1f306e;
  transition-duration: 0.3s;
  transition-property: color;
  cursor: pointer;
}

.link:hover:not(.linkActive) {
  color: #c7417b;
}

.linkActive {
  color: #f5487f;
  cursor: default;
}

.intro + .intro {
  margin-top: 15px;
}
